# Virtualenv
/.venv/
/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]

# C extensions
*.so

# json file
# *.json

# log file
*.log

# Distribution / packaging
/bin/
*build/
/develop-eggs/
*dist/
/eggs/
/lib/
/lib64/
/output/
/work_dirs/
/inference_model/
/output_inference/
/parts/
/sdist/
/var/
*.egg-info/
/.installed.cfg
/*.egg
/.eggs

# AUTHORS and ChangeLog will be generated while packaging
/AUTHORS
/ChangeLog

# BCloud / BuildSubmitter
/build_submitter.*
/logger_client_log

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Sphinx documentation
/docs/_build/

*.tar
*.pyc
*.pdiparams
*.safetensors
*.bin

.idea/

# NPU meta folder
kernel_meta/

pretrained/
playground/
log/

# MAC
*.DS_Store

.vscode/
.benchmarks/
.mypy_cache/

# ImageNet
imagenet-val/
imagenet-val.tar

.history/
output_directory/

lid.176.bin
*.json
valid_images.7z.filepart
datasets/
valid_images.7z
checkpoints/
magpie/
cache/
low_confidence_images/
model_results/
low_confidence_dino_images/